@use "mixins.scss" as components;
@import url("https://fonts.cdnfonts.com/css/montserrat");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

html,
body {
	scroll-behavior: smooth !important;
	font-family: "Montserrat", sans-serif !important;
	@include components.scrollStyle;

	overflow-x: hidden !important;
}

#aichatbot {
	position: fixed !important;
	bottom: 0 !important;
	right: 0 !important;
	z-index: 9999 !important;
}
